* { margin: 0; padding: 0; box-sizing: border-box; }
.container { display: flex; gap: 20px; padding: 20px; }

.card {
    transition: all 0.3s ease;
}
.filter-blur:hover {
    filter: blur(2PX);
    animation: girar 1s infinite linear;
}

.shadow-light {
    box-shadow: 5px 10px rgba(0, 0, 0, 0.3);
}
@keyframes girar {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.shadow-dark{
    box-shadow: 0 15px 30px rgba(21, 67, 4, 0.3);
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    
}
.card {
    background: royalblue;
    color: white;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 600px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
}